<%- include("header") -%>

<h1 class="heading">My Todo List</h1>
        
<% newTodoItem.forEach(function(item){ %>
	<form action="/delete" method="post">
    	<input type="checkbox" name="checkbox" value="<%=item._id %>"onChange="this.form.submit()"id="checkbox">
        <p><%= item.name %></p><br>
    </form>
<% }); %>
      
<form action="/" method="post">
    <input type="text" name="todoitem" placeholder="Enter a Todo.."><hr>
    <button type="submit" class="add">Add</button> 
</form>
 


    
   
 
 


